




@charset "UTF-8";
/* CSS Document */

@font-face {
  font-family: 'VodafoneLt-Bold';
  src: url('../fonts/VodafoneLt-Bold.svg#VodafoneLt-Bold') format('svg'),
       url('../fonts/VodafoneLt-Bold.ttf') format('truetype'),
       url('../fonts/VodafoneLt-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VodafoneLtBd';
  src: url('../fonts/VodafoneLtBd.eot');
  src: url('../fonts/VodafoneLtBd.eot?#iefix') format('embedded-opentype'),
       url('../fonts/VodafoneLtBd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VodafoneRg-Bold';
  src: url('../fonts/VodafoneRg-Bold.svg#VodafoneRg-Bold') format('svg'),
       url('../fonts/VodafoneRg-Bold.ttf') format('truetype'),
       url('../fonts/VodafoneRg-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VodafoneRgBd';
  src: url('../fonts/VodafoneRgBd.eot');
  src: url('../fonts/VodafoneRgBd.eot?#iefix') format('embedded-opentype'),
       url('../fonts/VodafoneRgBd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VodafoneLt-Regular';
  src: url('../fonts/VodafoneLt-Regular.svg#VodafoneLt-Regular') format('svg'),
       url('../fonts/VodafoneLt-Regular.ttf') format('truetype'),
       url('fonts/VodafoneLt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VodafoneLt';
  src: url('../fonts/VodafoneLt.eot');
  src: url('../fonts/VodafoneLt.eot?#iefix') format('embedded-opentype'),
       url('../fonts/VodafoneLt.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {
	margin:0 auto;
	background: linear-gradient(90deg,#51b7be,#362360);
    height: 100%;
	font-family: 'VodafoneLt-Regular';
}
.portal-header {
	width:400px;
	text-align:center;
	margin:100px auto;
	margin-bottom: 0;
}
.portal-header img {
	width: auto;
    height: 100px;
}
.portal {
    width: 400px;
    background: #fff;
    border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
    margin: auto;
	margin-top: 20px;
    padding-bottom: 10px;
}
.portal-flux {
	display:block;
	padding:30px;
}
.portal-flux input {
	width:93%;
	padding:10px;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	outline:none;
	border: solid 1px #ddd;
	margin-top:5px;
}
p.button {
	text-align: left;
}
.submit-btn {
    width: 100%;
    background: #000;
    padding: 16px 12px !important;
    margin: auto;
    outline: none;
    border: none !important;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    font-family: 'VodafoneLtBd';
    font-size: 21px;
    text-align: center;
	cursor:pointer;
}
.submit-btn:hover {
	background:#444;
}
.own {
	text-align:center;
	margin:40px auto;
	color:#fff;
	font-size: 13px;
	font-family: 'VodafoneLtBd';
}

@media handheld, only screen and (max-width: 767px) {
	.portal {
    width: 80%;
	}
	.portal-header {
		margin-top:20px;
		width:auto;
	}
}
.signup{
    text-align: center;
    margin-bottom: 20px;
}
.logout{
    margin-top: 10px;
}
/*Add a black background color to the top navigation */
.topnav {
    background-color: transparent;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.register-portal{
   margin-top: -2px !important;
}
.success{
    width: 100%;
    text-align: center;
   background-color: forestgreen;
    color: white;
}